
<%= form_for(@grade, url: url_for(controller: 'grades', action: 'update'),
 remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>

<div class="row">
<div class="col-sm-6">
  <div class="form-group">
    <%= f.label :value, :class => "control-label" %>
    <%= f.text_field :value, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit  @grade.new_record? ? "Create" : "Update", :class => "btn btn-primary" %>
  </div>
</div>
</div>
<% end %>
