
<table id class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>ID#</th>
    <th>First Name</th>
    <th>Second Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody id="users">
    <%= render @users %>
  </tbody>
</table>
