
<div class="container">

  <h2>Students</h2>
  <table id class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Second Name</th>
    </tr>
    </thead>
    <tbody id="students">
    <%= render @students %>
    </tbody>
  </table>

</div>
