<tr id="<%= "user_subject#{user_subject.id}"%>"><td>
<%= user_subject.value %>
<td>
  <%= link_to 'Edit', edit_user_subject_path(user_subject), remote: true, :class => 'btn btn-sm btn-info' %>
</td>
</td></tr>
